$blue: #0071c2;
$blue-light: #1778ca;
$blue-lighter: #e7f4fe;
$gray-lighter: #d9d9d9;
$gray-darker: #474747;
$gray-dark: #1a1a1a;
$green: #068323;
$green-dark: #0d6521;
$yellow: #ffb705;
$red: #ff0000;
$red-darker: #961412;
$white: #fff;
$black: #000;

$primary: $green;