.badge {
  background-color: $gray-lighter;
  font-size: 0.7rem;
  display: inline-block;
  text-align: center;
  margin-right: 2px;
  vertical-align: top;
  width: 5rem;
  font-weight: bold;
  padding: 2px 0;
  border-radius: 4px;
  color: $white;
  height: 100%;

  &.is-airport {
    background-color: $red-darker;
  }

  &.is-city {
    background-color: $blue;
  }

  &.is-district {
    background-color: $green;
  }

  &.is-station {
    background-color: $yellow;
    color: $black;
  }

  &.is-region {
    background-color: $gray-darker;
  }
}