.car-search {
  background-color: $blue-light;

  h2 {
    color: $white;
    font-size: 2rem;
    font-weight: bold;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  [data-role='search-results-*'] {
    position: relative;
  }

  input {
    height: auto;
    margin-right: 0.25rem;
    padding: calc(4px*2);
    color: $gray-dark;
    line-height: 24px;
    border-radius: 4px;
    padding-left: calc(4px*8);
    border: 1px solid $gray-lighter;
    font-size: 14px;
    width: 100%;
  }

  button {
   padding: calc(4px*2) calc(4px*4);
   border-radius: 4px;
   color: $white;
   border: none;
   height: 100%;
   width: 100%;
   font-size: 0.875rem;
  }
}

.car-search__search-box {
  background-color: $yellow;
  border-radius: 8px;
}

.car-search__search-results-list {
  position: absolute;
  border-radius: 4px;
  background-color: $white;
  border: 1px solid $black;
  width: 94%;

  .search-result-item {
    padding: 8px;
    font-size: 0.8rem;
    display: list-item;

    .badge {
      min-width: 5rem;
    }

    .cluster {
      display: flex;
    }

    span.badge {
      margin-top: 3px;
    }

    .location-details > div {
      padding-left: 5px;
      width: 100%;
      word-wrap: normal;
    }

    .location-details > div:first-child {
      font-size: 0.825rem;
    }

    &:not(:last-child) {
      border-bottom: 0.5px solid $gray-lighter;
    }

  }

}